.App {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  text-transform: capitalize;
}

h1{

  font-size: 70px;
  color: brown;
  text-transform: capitalize;
  
}

.counter {
 text-align: center;
 margin-left: 150px;
}

.btn {
  height: 56px;
  width: 164px;
  margin-left: 179px;
  margin-bottom: 15px;
}
.btnn{
  height: 50px;
  width: 350px;  
  margin-left: 270px;
  margin-bottom: 15px;



}

.btn:hover{

background-color: brown;
color: white;

}

